<!--
  Generated template for the ProfilePage page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header no-shadow>

  <ion-toolbar primary no-border-bottom>
    <div class="backbtn">
      <ion-icon id="backicon" name="ios-arrow-round-back"></ion-icon>
    </div>
  </ion-toolbar>

</ion-header>


<ion-content padding class="profile">

  <ion-grid id="main">
    <ion-row>
      <ion-col width-50>
        <div id="profilepic"></div>
      <!-- </ion-col>
      <ion-col> -->
      </ion-col>
      <ion-col width-25>
        <h1 class="headstat">99</h1>
        <p class="headdesc">
          Stat One Stat One
        </p>
      </ion-col>
      <ion-col width-25>
        <h1 class="headstat">99</h1>
        <p class="headdesc">
          Stat Two Stat Two
        </p>
      </ion-col>
    </ion-row>

    <ion-row class="unameage">
      <ion-col>
        <h1 id="name">Jameson</h1>
      </ion-col>
      <ion-col>
        <h1 id="age">25</h1>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-item id="ptsslider">
          <ion-range light>
          </ion-range>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row id="upts">
      <ion-col width-25>
        <p class="char">Who am I?</p>
      </ion-col>
      <ion-col>
      </ion-col>
      <ion-col width-25>
        <p class="char"><span id="pts">999</span> Points</p>
      </ion-col>
    </ion-row>

    <scroll-content id="imglistwrapper">
        <ion-scroll scrollX="true" id="scroll">
            <ion-row>
                <ion-col class="imglistcol" *ngFor="#number of numbers" width-25 >
                    <div id="imglist" [style.background-color]="number%2===0 ? 'white' : 'grey'"></div>
                </ion-col>
            </ion-row>
        </ion-scroll>
    </scroll-content>
</ion-grid>

  <ion-grid id="userinfo">
    <ion-row>
      <ion-col>
        <p class="infotitle">about</p>
        <p class="desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      </ion-col>
    </ion-row>
    <ion-row id="seperator">
    </ion-row>
    <ion-row>
      <ion-col>
        <p class="infotitle">activity</p>
        <p class="desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
