.backbtn{
  padding: 1em 2.5em;
}
#backicon{
  color: white;
  font-size: 3em;
  font-weight: 100;
}

.profile {
  background-color: #387ef5;
  // #main{
  //   padding: 5px 20px;
  // }
  ion-col{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
  }
  #profilepic{
    width: 75px;
    height: 75px;
    border-radius: 50%;
    background: aliceblue;
    margin-top: -15px;
  }

  .headstat{
    letter-spacing: -1px;
    font-weight: 200;
    color: white;
  }
  .headdesc{
    color: #fafafa;
    font-weight: 100;
  }
  p.headdesc{
    margin-top: -10px;
  }

  .unameage{
    margin-top: 25px;
  }
  #name{
    color: white;
    font-weight: 100;
    letter-spacing: 2px;
    font-size: 4em;
  }
  #age{
    color: #fafafa;
    font-weight: 100;
    letter-spacing: 0px;
    font-size: 2em;
  }


  #ptsslider{
    background-color: rgba(255,255,255,0);
    padding-left: 0px;
    .item-inner{
      border-bottom: 0px;
    }
    .range-knob-handle{
      display:none;
    }
    .range-bar-active{
      filter: drop-shadow(20px 0px 10px white);
    }
  }

  ion-range{
    padding: 0px;
  }

  #upts{
    margin-top: -25px;
  }
  .char{
    color: #fafafa;
    font-weight: 200;
  }
  #pts{
    color: #fafafa;
    font-weight: 900;
    letter-spacing: 0px;
  }

  #imglistwrapper{
    padding: 0px;
    margin-top: 90%;
    height: 100px;
  }
  #imglist{
    width: 100px;
    height: 100px;
  }

  ion-scroll{
    height: 100px;
    scroll-content{
      padding: 0px;
    }
  }
  .imglistcol{
    padding: 0px;
  }

  #userinfo{
    background-color: #fafafa;
    margin-top: 35%;
    margin-left: -5%;
    margin-right: -5%;
    margin-bottom: -5%;
    padding: 40px;
    width: inherit;
  }
  .infotitle{
    color: grey;
    font-size: 0.8em;
    letter-spacing: 1px;
    font-weight: bold;
    text-transform: uppercase;
  }
  .desc{
    font-size: 1em;
    font-weight: 200;
    letter-spacing: 0px;
  }

  #seperator{
    border-bottom: 2px solid #e3e3e3;
  }
}
