<!--
  Generated template for the HomePage page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<!-- <ion-header>

  <ion-navbar>
    <ion-title>home</ion-title>
  </ion-navbar>

</ion-header> -->


<ion-content padding class="home">
  <ion-grid>

    <ion-row>
      <ion-col>
        <div class="wrap">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48">
            <path d="M18 32.34l-8.34-8.34-2.83 2.83 11.17 11.17 24-24-2.83-2.83z" />
          </svg>
        </div>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <h4>YOUR ORDER IS ACCEPTED</h4>
      </ion-col>
    </ion-row>

    <ion-row class="row">
      <ion-col>
        <h6>THANK YOU FOR SHOPPING WITH US</h6>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        </p>
      </ion-col>
    </ion-row>

  </ion-grid>
</ion-content>

<ion-footer no-shadow>
  <ion-toolbar dark>
    <button dark full class="gobackbtn">GO BACK</button>
  </ion-toolbar>
</ion-footer>
