$blue: #337ab7;

.home{
  ion-grid{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
  }
  ion-col{
  }

  h4{
    font-weight: 900;
    letter-spacing: -1px;
  }
  h6{
    font-weight: 200;
    letter-spacing: -1px;
  }
  p{
    font-weight: 100;
  }

  .row{
    margin-top: -5%;
  }

  .wrap{
    width: 200px;
    height: 200px;
    border: 5px solid black;
    border-radius: 50%;
    margin-bottom: 25px;
  }
  svg{
    width: 200px;
    height: 200px;
    path{
      stroke: black;
      stroke-width: 1px;
      stroke-dasharray: 99.47578430175781px;
      // stroke-dashoffset: -99.47578430175781px;
      fill: transparent;
      animation: check 0.5s linear forwards, filler 0.3s ease 0.5s forwards ;
    }

    @keyframes check{
      0%{
        stroke-dashoffset: 99.47578430175781px;
      }
      100%{
        stroke-dashoffset: 0px;
      }
    }
    @keyframes filler{
      100%{
        fill: black;
      }
    }
  }

}
