@mixin box($fsize, $lspace, $fweight){
  font-size: $fsize;
  letter-spacing: $lspace;
  font-weight: $fweight;
}

.browse {
  ion-row{
    flex-wrap: wrap;
  }
  ion-col{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
  }

  .img{
    width: 100%;
    height: 120px;
    background-color: aliceblue;
  }

  .pinfo{
    margin-left: 10px;
  }
  #brand{
    @include box(0.75em, 2px, bold);
  }
  #pname{
    @include box(0.6em, 0px, bold);
    color: grey;
  }
  #price{
    @include box(1em, -0.5px, bold);
  }
}

ion-footer{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.btn{
  letter-spacing: 2px;
  font-size: 0.8em;
  margin: 0px 0px 0px -4px;
  border-left: 1px solid #333;
  padding: 2em 4em;
  border-radius: 0px !important;
  font-weight: 900;
}
.btn2{
  font-size: 0.8em;
  margin: 0px 0px 0px -4px;
  border-left: 1px solid #fafafa;
  padding: 2em 1em;
  border-radius: 0px !important;
}
