<!--
  Generated template for the BrowsePage page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<!-- <ion-header>

  <ion-navbar>
    <ion-title>browse</ion-title>
  </ion-navbar>

</ion-header> -->


<ion-content class="browse">
  <ion-grid>

    <ion-row>
      <ion-col *ngFor="#number of numbers" width-50>
        <div class="img">
        </div>
        <div class="pinfo">
          <p><span id="brand">BRAND</span><span id="pname">PRODUCT NAME</span></p>
          <p><span id="price">$99.99</span></p>
        </div>

      </ion-col>
    </ion-row>

  </ion-grid>
</ion-content>


<ion-footer no-shadow>

    <button dark class="btn">refine</button>
    <button dark class="btn">sort by</button>
    <button light no-shadow class="btn2"><ion-icon name="arrow-round-back"></ion-icon></button>
    <button light no-shadow class="btn2"><ion-icon name="arrow-round-forward"></ion-icon></button>

</ion-footer>
